<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">
        <a style="font-family:'Montserrat'; font-size:12px" href="https://github.com/yellowpad/twitter_clone">DumbTwitter</a>
        by <a style="font-family:'Montserrat'; font-size:12px"  href="https://www.github.com/yellowpad">Yellow Pad</a>
      </p>

      <a href="#" class="navbar-btn btn-danger btn pull-right">
      <span class="glyphicon glyphicon-star"></span>  Subscribe for More</a>
    </div>
</div>