<header class="navbar navbar-fixed-top navbar-light bg-faded">
    <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          	<ul class="nav navbar-nav navbar-right">
            	<li><%= link_to "Home",   '#', class: "nav-link" %></li>
            	<li><%= link_to "Help",   '#', class: "nav-link" %></li>
           	 	<li><%= link_to "Log in", '#', class: "nav-link" %></li>
          	</ul>
        </nav>
    </div>
</header>